@import '../../__STYLE_SCSS/Colors';
@import '../../__STYLE_SCSS/Compatibilities';
#back-office{
    background-color: #090909;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .header{
        margin-top: 48px;
        padding: 1rem;
        display: flex;
        position: relative;
        p{
            width: 50%;
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: white;
            z-index: 5;
        }
        h1{
            font-family: 'manometer', serif;
            font-size: 200px;
            position: absolute;
            right: 0;
            top: -50px;
            color: rgba($color: #E80715, $alpha: .3);
        }
    }
    #search-omdb{
        @include borderRadius(9999px);
        width: 94%;
        margin: 1rem 3%;
        border: none;
        padding: .5rem 1rem;
    }
    .results{
        text-align: center;
        color: white;
    }
    .page-btns{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        button{
            @include borderRadius(5px);
            width: 100px;
            margin: 0 1rem;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            &:hover{
                background-color: rgba($color: white, $alpha: .1);
            }
        }
    }
}