@mixin borderRadius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin translate($x_axis, $y_axis){
    transform: translate($x_axis, $y_axis);
    -webkit-transform: translate($x_axis, $y_axis);
    -moz-transform: translate($x_axis, $y_axis);
    -ms-transform: translate($x_axis, $y_axis);
    -o-transform: translate($x_axis, $y_axis);
}