@mixin borderRadius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin translate($x_axis, $y_axis){
    transform: translate($x_axis, $y_axis);
    -webkit-transform: translate($x_axis, $y_axis);
    -moz-transform: translate($x_axis, $y_axis);
    -ms-transform: translate($x_axis, $y_axis);
    -o-transform: translate($x_axis, $y_axis);
}

@mixin transition($property, $duration, $style){
    transition: $property $duration $style;
    -webkit-transition: $property $duration $style;
    -moz-transition: $property $duration $style;
    -ms-transition: $property $duration $style;
    -o-transition: $property $duration $style;
}

@mixin scale($value){
    transform: scale($value);
    -webkit-transform: scale($value);
    -moz-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
}