@import '../../__STYLE_SCSS/Sizes';
@import '../../__STYLE_SCSS/Compatibilities';

#password-step{
    @include fullSize();
    position: relative;
    .container{
        @include translate(-50%, 0);
        width: 70%;
        position: relative;
        left: 50%;
    }
}