@import '../../__STYLE_SCSS/Sizes';
@import '../../__STYLE_SCSS/Compatibilities';
@import '../../__STYLE_SCSS/Themes';

#password-step{
    @include fullSize();
    position: relative;
    .container{
        h4{
            font-weight: 700;
            br{
                margin: 0.2rem;
            }
        }
        p:nth-of-type(1){
            font-size: 1.25rem;
        }
        .email{
            p{
                font-size: .9rem;
            }
            p:nth-of-type(1){
                margin: 0;
                font-weight: 600;
            }
            p:nth-of-type(2){
                font-weight: 700;
            }
        }
        input[type=password]{
            @include borderRadius(3px);
            width: 100%;
            height: 3rem;
            border: 1px solid rgba($color: #000000, $alpha: .5);
        }
        br{
            margin: 1rem;
        }
        button{
            @include primary-btn();
            width: 100%;
            height: 3rem;
        }
    }
}