@import '../../__STYLE_SCSS/Sizes';

#login-page{
    @include fullSize();
    position: relative;
    .img-bg{
        @include fullSize();
        position: absolute;
        z-index: -1;
        img{
            @include fullSize();
            filter: brightness(60%);
            -webkit-filter: brightness(60%);
        }
    }
    .logo{
        width: 220px;
        height: 80px;
        background-color: white;
        position: relative;
        top: 1rem;
        left: 1rem;
    }
}